{
    "defaults": {
        "binary": "./proton-drive.exe",
        "dir_conflict": "merge",
        "file_conflict": "skip",
        "browser": "C:/Program Files/Firefox/firefox.exe",
        "verbose": false
    },
    "profiles": {
        "dcim": {
            "local": "D:/DCIM",
            "remote": "/my-files"
        },
        "projects": {
            "local": "C:/Users/Lee/Projects",
            "remote": "/my-files/projects-backup",
            "file_conflict": "overwrite",
            "verbose": true
        }
    },
    "default_profile": "dcim"
}