{
    "defaults": {
        "binary": "./proton-drive.exe",
        "dir_conflict": "merge",
        "file_conflict": "skip"
    },
    "profiles": {
        "dcim": {
            "source": "D:/DCIM",
            "destination": "/my-files"
        },
        "photos": {
            "source": "D:/Photos",
            "destination": "/my-files/Photos",
            "file_conflict": "overwrite"
        }
    },
    "default_profile": "dcim"
}